<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Placement Tracker Dashboard</title>

    <link rel="stylesheet"
          th:href="@{/css/application-form.css}">
</head>
<body>
<div class="container">
    <h2>Search Company</h2>
<form action="/search" method="get">
    <input type="text"
           name="keyword"
           placeholder="Search Company">

    <button type="submit">
        Search
    </button>
</form>


    <form action="/search/filter" method="get">
        <select name="status">
            <option value="APPLIED">Applied</option>
            <option value="SHORTLISTED">Shortlisted</option>
            <option value="REJECTED">Rejected</option>
            <option value="SELECTED">Selected</option>
        </select>
        <button type="submit">Filter</button>
    </form>

    <hr>
    <h2>Filter By Interview Date</h2>
    <form action="/search/date-filter" method="get">

        <input type="date" name="startDate">

        <input type="date" name="endDate">

        <button type="submit">
            Filter Date
        </button>

    </form>
</div>

</body>
<a href="/dashboard" class="edit-btn">Back to Dashboard</a>

</html>